.singlePost .figure .image {
  height: calc(100vh - 30em);
  background-position: center;
  /*background-attachment: fixed;*/
  background-size: contain;
  background-repeat: no-repeat;
}
.singlePost {
  padding: 4.6em;
  padding-top: 0;
}

.singlePost .figure {
  margin: 0 ;
  margin-top: 3.6em;
  border-bottom: 1px solid;
  padding: 1em;
  border: 1px solid;
}

.singlePost .figure img {
  width: 100%;
  height: auto;
}

.singlePost .description {
  padding: 1em;
}

.singlePost + .pagination {
  border-top: none;
}

.description  img{
  width: 100%;
  height: auto;
  display: block;
}