/*
  .isMobile .App {
    padding-right: 0;
    padding-left: 0;
    height: 100vh;
  }
  .isMobile .posts {
    padding: 0;
    align-items: center;
    height: 100%;
    padding-bottom: 3.7em;
  }
  .isMobile .post {
    height: 50%;
    padding: 0;

  }
  .isMobile .post header {
    border: none;
    height: 100%;
    position: relative;
  }

  .isMobile .post .figure {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .isMobile .post .title {
    position: absolute;
    width: 100%;
    background-color: white;
  }

  .isMobile .figure a {
    max-height: 100%;
    display: block;
  }


  .isMobile .figure img {
    max-height: 60vh;
    height: auto;
    width: auto;
    max-width: 100%;
    display: inline-block;
  }
  .isMobile .post .figure {
    padding: 5px;
    vertical-align: middle;
  }

*/

.isMobile .posts {
  padding-top: 1em;
}

.isMobile .pagination .next,
.isMobile .pagination .prev {
  font-size: 3.0em;
  /*width: 42px;*/
  height: calc(100vh - 8rem);
  top: 8rem;
  bottom: 0;
}

.isMobile .pagination .next i,
.isMobile .pagination .prev i {
  /*top: calc(50% + 80px);*/
}


/*.isMobile .mainNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 255;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  transform: translate(-100%, 0%);
  border: none;
  display: none;
}

.isMobile .mainNav a {
  display: block;
  flex-basis: 100%;
  border:none;
  border-bottom: 1px solid;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items :center;
  text-align: center;

}

.isMobile .mainNav a span {
  display: inline-block;
  vertical-align: middle;
}*/

.isMobile .post .figure img {
  max-height: 60vh;
}

.isMobile .pagination {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

.isMobile .singlePost .figure {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }

@media(orientation: portrait){

}

@media(orientation: landscape){
  .isMobile .posts .figure {
    padding: 5px;
  }
  .isMobile .posts {
    padding: 1em 3.6em 0;
    max-height: calc(100vh - 12em);
  }
  .isMobile .post .figure img {
    max-height: 48vh;
  }

  .isMobile .singlePost .image  {
    min-height: calc(100vh - 14em);
    height: auto;
  }
}