@import url('css/fontello.css');

:root {
  --primary-color: #222;
  --secondary-color: #ccc;
  --tertiary-color: #efefef;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  /*padding: 3.6em;*/
  /*padding-bottom: 5.5em;*/
  padding-top: 10.6em;
}

body {
  color: var(--primary-color);
  font-family: 'Source Code Pro', monospace;
  font-weight: 100;
  padding: 0;
  margin: 0;

}


.top h1 a,
.top h2 a {
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
}
.top h2 a span,
.top h1 a span {
  color: var(--primary-color);
}
.top h2 a:hover,
.top h1 a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.top h2 a:hover::before,
.top h1 a:hover::before {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translatey(-50%);
}

p {
  font-size: 1.6em;
}

h1 {
  font-size: 2.4em;
  color: inherit;
}

h3 {
  font-size: 2em;
}



.App a {
  color: lightblue;
}

.App-logo {
  display: none;
}

.App-intro {
  font-size: large;
}
.top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 0;
  border-bottom: 1px solid;
  padding-bottom: 0;
  text-align: center;
  z-index: 2;
  background: white;
}

.mainNav {
  border-top: 1px solid;
  margin-top: 15px;
}

.mainNav a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  border-left: 1px solid;
  color: #333;
  font-size: 1.4em;
}

.mainNav a:first-child {
  /*border-left: 1px solid;*/
  border-left: none;
}
.mainNav a.active{
  border-left: 1px solid;
}
.mainNav a:last-child[class='active']{
  border-right: 1px solid;
}

.top h1 {
  margin: 0;
}
.page_indicator {
  padding: 10px;
  padding-top: 0;
  display: block;
  font-size: 1em;
  margin: 0;
  text-align: right;
  border-bottom: 1px solid;
}

.pagination {
  /*position: fixed;*/
/*  z-index: 128;
  bottom: 0;
  left: 0;
  right: 0;*/
  font-size: 1.2em;
  text-align: center;
  background-color: white;
  border-top: 1px solid;
  color: var(--secondary-color);
  margin-top: 25px;
  padding-top: 10px;

}
.pagination  span,
.pagination  a {
  display: inline-block;
  padding: 10px;
  /*border-left: 1px solid;*/
  text-decoration: none;
  color: var(--secondary-color);
}
.pagination .current {
  background-color: var(--tertiary-color);;
  color: #999;
}

/*.pagination  .prev {
  border-left: none;
}*/
.pagination  .prev,
.pagination  .next {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  height: 100vh;
  border: none !important;
  padding: 0;
  font-size: 3em;
  text-align: center;
  padding: 0;
  /*transform:  translate(0%,-50%);*/
  z-index: 64;
  line-height: 1em;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 100;
  width: 42px;
  overflow: visible;
  color: var(--secondary-color);
}

.pagination  .prev i,
.pagination  .next i {
  font-size: 1em !important;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination .disabled {
  opacity: 0;
}

.pagination  .next {
  right: 0;
}

.pagination  .prev {
  left: 0;
}

.pagination  .prev:hover,
.pagination  .next:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.pagination  .prev:active,
.pagination  .next:active {
  background-color: rgb(0, 255, 255,0.5);
  color: var(--primary-color);
}
.pagination  .prev:before,
.pagination  .next:before {
  /*content: attr(title);*/
  position: absolute;
  font-size: 0.6em;
  line-height: 1;
  transform:  translateY(-50%);
  white-space: nowrap;
  top: 50%;
  transform-origin: 0 0%;
  text-transform: capitalize;
  background-color: white;
  background-color: white;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  border: 1px solid;
  transition: opacity 250ms ease-out;
}

.pagination  .prev:hover:before,
.pagination  .next:hover:before {
  opacity: 0.8;
  transition: opacity 125ms ease-in;
}

.pagination  .next:before {
  right: 120%;
}
.pagination  .prev:before {
  left: 120%;
}


body .App *,
body .App *::before,
body .App *::after {
  border-color: var(--secondary-color) !important;
}

nav a {
  color: var(--primary-color);
  transition: color background 250ms ease-in;
}

nav a:hover {
  color: dimgray;
  background-color: gainsboro;
  transition-timing-function: ease-out;
}

.mainNav a:hover,
.mainNav .active,
/*.pagination  a:hover,*/
.post h3 a:hover {
  background-color: var(--tertiary-color);
}